body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: sans-serif;
}

.user {
    background:rgba(128, 0, 128, 0.801);
}

form {
    font-size: 16px;
    background: white;
    border-radius: 5px;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
}

h1 {
    color: black;
}

input, textarea {
    width: 470px;
    padding: 10px;
    border-radius: 5px;
}

.enviar input {
    background: rgba(128, 0, 128, 0.801);
    width: 100px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    color: white;
    cursor: pointer;
}

.enviar input:hover {
    background: rgba(197, 69, 107, 0.411);
    opacity: 10;
}

.entrar input { 
    background: rgba(128, 0, 128, 0.801);
    width: 100px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    color: white;
    cursor: pointer;
}

.entrar input:hover {
    background: rgba(197, 69, 107, 0.411);
    opacity: 10;
}

.botaoRedes {
    cursor: pointer;
}

