.faleConosco {
    align-items: center;
    color:white;
    display: flex;
    flex-flow: column;    
}
    
textarea {
    border-radius: 8px;
    height: 128px;
    resize: none;
    width: 244px;   
}
    
button {
    border-radius: 8px;
    display: flex;
    height: 26px;
    margin-top: 1em; 
    width: 56px;
}
    
input {
    border-radius:8px;
    width: 246px;
} 
    
h1 {
    text-align: center;
    color: white;
} 
    