
.contato {
    flex-flow: column; 
    padding: 10px; 
    position: fixed;
    left: 26%;
}
.duvidas {
    flex-flow: column;
    display: flex;
    position: fixed;
    right: 22%;
    padding: 10px;
}

button {
    width: 50px;
}

p {
    text-align: center; 
}

textarea {
    resize: none; 
    width: 315px;
    height: 155px; 
}

