.faleConosco {
    color:white;
    display:flex;
    flex-flow:column;
    align-items: center
}
    
textarea {
    resize: none;
    width: 244px;
    height: 128px
}
    
button {
    display: flex;
    width: 56px;
    height: 26px;
    margin-top: 1em;
}
    
input {
    width: 246px;
} 
    
h1 {
    text-align: center;
    color: white;
} 
    