body{
    margin:0;
}

form{
    width: 350px;
    background-color: gainsboro;
    display:flex;
    justify-content: center;
}

.avaliacaoDaEmpresa{
    display: flex;
    flex-flow: column wrap;
    width: 250px;
    
}

.botao{
    display: flex;
    justify-content: end;
}

main{
    display: flex;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

h1{
    font-weight: 900;
    color: white;
    justify-content: center;
  
}
p{
    font-weight: 900;
    color: white;  
    justify-content: center;
  
}

.centralizarH1{
    display: flex;
    justify-content: center;
}

.centralizarP{
    display:flex;
    justify-content: center;
}